---
import config from "src/config.json"
import myPhoto from "~/my-photo.png";
import Hr from "../atoms/Hr.astro";
import { getCollection } from 'astro:content';
import config from "@/config.json";

---
<div>

<div class="flex flex-col sm:flex-row gap-4 holder">
  <div class="text">
    <h1>
      Hi there, I'm <span>{config.author}</span>
    </h1>
    <br/>
    <p>
      Drawing from 15 years of coding experience, I have acquired a
      wealth of knowledge in over 20 programming languages and an
      extensive range of frameworks. This blog encompasses a diverse
      range of topics, including Linux, DevOps, software design
      patterns, as well as insights into different approaches for
      developing desktop, mobile, and web applications.
    </p>
  </div>
</div>
  <Hr/>

</div>
<style lang="sass">

  h2
    @apply text-2xl font-semibold tracking-wide
  .text
    text-align: justify
    width: 100%

  .holder
    margin-bottom: 10px

  .holder :global(img)
    border-radius: 4px
</style>
